body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Courier, monospace;

  background-image: url("background.jpg");
  background-size: 1920px 1080px
}
button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}